@charset "UTF-8";

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #f6fcfa;
  font-family: 'Poppins', sans-serif;
}

header{
  margin: 1.5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

img.meet{
    width: 100%;
    max-width: 210px;
}

nav.button{
  font-size: 17px;
  padding: 0px 10px 0px 10px;
  background-color: #19b981;
  border-radius: 12px;
  width: 120px;
  gap: 10px;
  border: #19b981 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  transition: 0.5s;
}
nav.button:hover{
  background-color: #19b981;
}
a.botao{
  color: #ffffff;
  text-decoration: none;
}
a.botao:hover{
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}
nav.home{
  display: flex;
  flex-flow: row wrap;
  gap: 20px;

}
nav.home > a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  margin-left: 20px;
  display: inline-block;
  padding: 5px, 10px;
  transition: 0.3s;
}
nav.home > a:hover{
  color: #19b981;
  transition: 0.3s;
  transform: scale(1.05);
}
div.design{
  display: flex;
  max-height: 630px;
  background-image: url(imgs/background.png);
  background-repeat: no-repeat;
}

div.main{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  max-width: 45vw;
  margin-left: 8vw;
}

h1.title{
  font-size: 60px;
  margin-top: 15vh;
  margin-bottom: 0px;
}

p.title{
  font-size: 18px;
  height: 20px;
}

nav.title{
  font-size: 17px;
  padding: 0px 10px 0px 10px;
  background-color: #19b981;
  border-radius: 12px;
  border: #19b981 solid;
  width: 120px;
  gap: 10px;
  color: #19b981;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  transition: 0.5s;
}

nav.betao{
  font-size: 17px;
  padding: 0px 10px 0px 10px;
  background-color: #ffffff00;
  border-radius: 12px;
  border: #19b981 solid;
  width: 120px;
  gap: 10px;
  color: #19b981;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  transition: 0.5s;
}

a.betao{
  color: #19b981;
  text-decoration: none;
}


nav.port{
  font-size: 17px;
  padding: 0px 10px 0px 10px;
  border-radius: 12px;
  width: 120px;
  gap: 10px;
  color: #19b981;
  border: #19b981 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
}
nav.under{
  gap: 40px;
  margin: 5vh 12vw auto 0px;
  display: flex;
  align-items: center;
}
div.second{
  display: flex;
  flex-flow: column nowrap;
}
.homem{
  width: 650px;
  margin: 0px;
  position: relative;
  bottom: 30px;
  right: 30px;
}
div.iconsec{
  padding: 25px 15px 25px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  position: relative;
  bottom: 160px;
  position: relative;
  left: -100px;
  border-radius: 4px;
  background-color: #f6fcfa;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
img.iconsec{  
  width: 230px;
}

nav.about{
  display: flex;
  justify-content: flex-end;
  margin-right: 12.9%;
  margin-top: 2%;
  gap: 4%;
}
nav.about > a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  display: inline-block;
  padding: 5px, 10px;
  transition: 0.3s;
}
nav.about > a:hover{
  color: #19b981;
  transform: scale(1.05);
}
nav.title:hover{
  background-color: #19b981;
}

section.after{
  display: flex;
  flex-flow: row nowrap;
}

img.homem2{
  width: 100%;
  max-width: 760px;
}
h3.sub{
  font-size: 35px;
  font-weight: normal;
  margin-top: 50px;
}
h2.sub{
  font-size: 50px;
  font-weight: 500;
  margin-top: 0px;
  color: #19b981;
}
h2.skills{
  font-size: 30px;
  font-weight: 550;
  color: #19b981;
}
p.sub{
  width: 100%;
  max-width: 80%;
  line-height: 2.2;
}

nav.icons{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-flow: row wrap;
  gap: 1%;
  width: 100%
}

a.icone{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}
a.icone:hover{
  transform: scale(1.4);
}
nav.icons > a.icone > img.html{
  width: 100%;
  max-width: 60px;
}
nav.icons > a.icone > img.css{
  width: 100%;
  max-width: 45px;
}
nav.icons > a.icone > img.js{
  width: 100%;
  max-width: 55px;
}
nav.icons > a.icone > img.jq{
  width: 100%;
  max-width: 60px;
}
nav.icons > a.icone > img.sa{
  width: 100%;
  max-width: 65px;
}
nav.icons > a.icone > img.le{
  width: 100%;
  max-width: 70px;
}
nav.icons > a.icone > img.bo{
  width: 100%;
  max-width: 70px;
}
nav.icons > a.icone > img.ph{
  width: 100%;
  max-width:  60px;
}
nav.icons > a.icone > img.wo{
  width: 100%;
  max-width:  60px;
}
nav.icons > a.icone > img.php{
  width: 100%;
  max-width:  60px;
}
nav.icons > a.icone > img.an{
  width: 100%;
  max-width:  60px;
}

section.services{
  display: flex;
  flex-flow: column;
  align-items: center;
}

div.services{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 560px;
  text-align: center;
}

nav.card{
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

a.card{
  width: 100%;
  max-width: 20%;
  text-decoration: none;
  color: black;
  background-color: #ffffff;
  border: 2px #ffffff solid;
  border-radius: 8px;
  box-shadow: 0px 0px 2px 2px #00000007;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  transition: 0.3s ease;
}

a.card:hover{
  transform: scale(1.04);
  border: 2px solid #19b981;
  background-color: #19b98102;
}

a.card > img.card{
  width: 28%;
  margin-top: 30px;
  margin-bottom: 0px;
}

a.card > p.card{
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: 600;

}
a.card > p.card1{
  color: #575757;
}

button.b{
  font-size: 18px;
  background-color: #19b98100;
  border-radius: 5px;
  border: 2px #19b981 solid;
  width: 100%;
  max-width: 55%;
  color: #19b981;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5vh;
  transition: 0.5s;
  margin-bottom: 10%;
  margin-top: 15px;
}
button.b:hover{
  color: #f6fcfa;
  background-color: #19b981;
}

section#portfolio{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}

h2.a{
  font-weight: 500;
  color: #19b981;
  margin-top: 80px;
  margin-bottom: 0px;
  font-size: 45px;
}
p.a{
  margin-top: 0px;
  font-size: 18px;
}

nav.all{
  display: flex;
  justify-content: center;
  gap: 7%;
  margin-bottom: 2%;
}

nav.all > a.all{
  text-decoration: none;
  font-size: 18px;
  color: rgb(41, 41, 41);
}

nav.all > a.all:hover{
  transition: 0.3s;
  color: #19b981;
  transform: scale(1.05);
}

nav.imagens{
  width: 80%;
  margin: auto;
  gap: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

a.imagens > img.imagens{
  width: 100%;
  max-width: 260px;
}

a.imagens:hover{
  transform: scale(1.05);
  transition: 0.3s ease;
}

section.client{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #19b9810a;
  padding-bottom: 4%;
  padding-top: 2%;
}

img.client{
  width: 100%;
  max-width: 35%;
}

div.client{
  max-width: 50%;
}

div.botao{
  gap: 3%;
  display: flex;
}

h3.client{
  font-size: 26px;
}
h2.client{
  font-size: 45px;
  margin-bottom: 1%;
}
p.client{
  font-style: italic;
  font-size: 19px;
  max-width: 75%;
}

span{
  color: #19b981 ;
}
p.ed{
  font-style: italic;
  font-size: 19px;
  font-weight: 600;
}

a.circle{
  margin-top: 3.9%;
  border-radius: 100%;
  border-color: rgb(107, 107, 107);
  background-color: rgb(107, 107, 107);
  width: 18px;
  height: 18px;
}

a.circle:hover{
  transition: 0.3s ease;
  transform: scale(1.8);
  background-color: #19b981;
  border-radius: 100%;
  border-color: #19b981;
}

footer{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #19b981;
  max-height: 50%;
}

div.footer{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 60px;
  max-width: 400px;
}

div.footer > img.footer{
  width: 100%;
  max-width: 250px;
}

.footer{
  color: #f6fcfa;
  font-weight: 1;
}

h3.footer{
  font-size: 25px;
}

b{
  font-weight: 600;
}

div.message{
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  max-width: 1000px;
  width: 100%;
}

input.name{
  background-color: #00000000;
  border: 0px;
  border-bottom: 1px #ffffffc4 solid;
  margin-bottom: 50px;
  width: 100%;
  max-width: 350px;
}

div.name{
  display: flex;
  justify-content: flex-start;
  gap: 18%;
  flex-wrap: wrap;
}

.name::placeholder{
  color: #ffffffc4;
  font-size: 15px;
}

p.message{
  color: #ffffffc4;
}

input.message{
  display: flex;
  background-color: #ffffff40;
  border: 0px;
  border-radius: 6px;
  max-width: 900px;
  height: 100%;
  max-height: 55%;
  min-height: 30%;
}

.message::placeholder{
  color: #ffffffc4;
  font-size: 15px;
}

section.end{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: rgb(48, 48, 48);
  gap: 2%;
  background-color: #55C69F;
}


@media screen and (max-width: 600px) {
  body{
    
    margin: 0 auto;

    header{
      width: 90%;
      margin: auto;
      justify-content: center;
      align-items: center;
    }
  }

nav.home{
  justify-content: center;
  margin: 20px;
}

nav.button{
  margin-bottom: 15px;
}

div.design{
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

div.main{
  align-content: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

div.second{
  display: none;
}

nav.betao{
  display: none;
}

nav.title{
  display: none;
}

p.title{
  display: none;
}

h1.title{
  font-size: 20px;
  margin-bottom: 0%;
  margin-top: 5%;
  width: 80%;
  text-align: center;
}
/*about me*/

img.homem2{
  display: none;
}

h3.sub{
  display: none;
}

h2.sub{
  margin: 3%;
  width: 95%;
  font-size: 35px;
  text-align: center;
}

p.no{
  display: none;
}

span.no{
  display: none;
}

p.sub{
 margin: auto;
 text-align: center;
}

h2.skills{
  margin: 5%;
  text-align: center;
}

img.icone.an{
  display: none;
}

nav.icons{
  justify-content: center;
  width: 100%;
  margin: auto;
  max-width: 360px;
}



}
